.auth {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #fff;
   width: 50%;
   margin: 20px auto;
   padding: 30px;
   transition: .5s ease;

   // &:hover {
   //    background: #fff;
   //    transition: .5s ease;

   //    .auth-type {
   //       color: $bg-color;
   //       transition: .5s ease;
   //    }
   // }
}