.auth {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   margin: 20px auto;
   padding: 30px;
   transition: .5s ease;

   p {
      margin-top: 30px;
      transition: .5s ease;

      a {
         transition: .5s ease;
         line-height: 30px;
         border-bottom: 1px solid $lime-green;
         color: #fff;
         text-decoration: none;
         padding-left: 10px;
      }
   }

   &-btn {
      font-size: 13px;
      text-transform: capitalize;
   }
}