.gif-wrap {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    
    img {
        border-radius: 10px;
        display: block;
        max-width: 100%;
        width: 100%;
    }
}