* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: #eee;
  font-family: 'Rubik';
  background: rgba(10, 31, 42, 0.95);
  color: #fff;
}

@font-face {
  font-family: 'Rubik';
  src: url("./../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

header {
  background: rgba(10, 31, 42, 0.95);
  padding: 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.logo img {
  display: block;
}

.logout {
  border-radius: 10px;
  border: 1px solid #55af2a;
  padding: 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
}

.logout:hover {
  -webkit-box-shadow: 0 0 10px 4px #55af2a;
          box-shadow: 0 0 10px 4px #55af2a;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.grid {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.submit-btn {
  color: #fff;
  background: #55AF2A;
  outline: none;
  border: 1px solid transparent;
  padding: 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 15px;
  letter-spacing: 2px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn:hover {
  text-shadow: 0 0 10px #fff;
  border: 1px solid #fff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  color: #fff;
}

.contacts li {
  font-size: 20px;
}

.contacts li + li {
  margin-top: 10px;
}

.contacts li a {
  text-decoration: none;
  color: inherit;
  line-height: 30px;
  border-bottom: 1px solid #55af2a;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social a {
  padding: 5px;
  border: 1px solid #55af2a;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 5px 20px;
}

.form-instruction {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.auth p {
  margin-top: 30px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.auth p a {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  line-height: 30px;
  border-bottom: 1px solid #55af2a;
  color: #fff;
  text-decoration: none;
}

.auth-btn {
  font-size: 13px;
  text-transform: capitalize;
}

.auth-type {
  margin-bottom: 30px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.input-value {
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ccc;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.input-value:focus {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-box-shadow: 0 0 10px 3px #ccc;
          box-shadow: 0 0 10px 3px #ccc;
}

.input-value[type=number]::-webkit-outer-spin-button, .input-value[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  grid-gap: 5px 20px;
}

.text {
  margin: 20px auto;
  line-height: 30px;
  word-spacing: 3px;
  cursor: default;
  color: #fff;
}

.text a {
  color: #55AF2A;
  text-decoration: none;
  border-bottom: 2px dashed #fff;
}

.offer {
  background: rgba(10, 31, 42, 0.95);
  width: 60%;
  text-align: left;
  padding: 20px;
  -webkit-box-shadow: 0 0 25px 2px #ccc;
          box-shadow: 0 0 25px 2px #ccc;
  border-radius: 10px;
  position: relative;
  margin: 50px auto;
  overflow: hidden;
  font-size: 20px;
}

.offer::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #55AF2A transparent transparent;
}

.select-offer {
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offer-type {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5px 20px;
}

.offer-type:last-child {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

.gif-wrap {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.gif-wrap img {
  border-radius: 10px;
  display: block;
  max-width: 100%;
  width: 100%;
}

.form-instruction {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.created-link {
  background: transparent;
  padding: 15px;
  margin: 20px auto;
  -webkit-box-shadow: 0 2px 10px 2px #fff;
          box-shadow: 0 2px 10px 2px #fff;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  -webkit-text-decoration: underline #55af2a 2px;
          text-decoration: underline #55af2a 2px;
  font-size: 20px;
  line-height: 30px;
}

.created-link a {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  -webkit-text-decoration: underline #55af2a 2px;
          text-decoration: underline #55af2a 2px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.created-link a:hover {
  text-shadow: 0 0 10px #fff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

footer {
  background: rgba(10, 31, 42, 0.95);
  padding: 5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1330px) {
  .content {
    max-width: 960px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .offer {
    width: 60%;
  }
}

@media screen and (max-width: 1025px) {
  .inputs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .offer {
    font-size: 18px;
    width: 70%;
  }
  .offer-type {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-gap: 5px 20px;
  }
  .created-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 980px) {
  .content {
    max-width: 70%;
  }
  .contacts li + li {
    margin-top: 5px;
  }
  .text {
    line-height: 25px;
  }
  .submit-btn {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 6;
  }
  .offer,
  .created-link a,
  .contacts li {
    font-size: 16px;
  }
  .offer {
    width: unset;
  }
  .social a {
    margin-right: 5px;
  }
  .social a:last-child {
    margin: 0;
  }
  .gif-wrap {
    width: 55%;
  }
}

@media screen and (max-width: 630px) {
  .content {
    max-width: 80%;
  }
  .logo-icon {
    width: 80%;
  }
  .inputs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  .offer-type {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    grid-row: unset;
  }
  .grid {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 7;
  }
  .grid + .grid {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .submit-btn {
    font-size: 14px;
  }
  .offer,
  .created-link a,
  .contacts li {
    font-size: 15px;
  }
  .created-link {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 420px) {
  .content {
    max-width: 90%;
  }
  .offer::before {
    border-width: 0 35px 35px 0;
  }
  .contacts li {
    font-size: 12px;
  }
  .text {
    line-height: 20px;
  }
  .social a {
    width: 25px;
    height: 25px;
  }
}
/*# sourceMappingURL=main.css.map */